<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:theme="@style/Theme.ImmichServerLegacy"
        tools:replace="android:theme">

        <activity
            android:name=".legacy.LegacyMainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".legacy.LegacyServerService"
            android:enabled="true"
            android:exported="false" />

    </application>

</manifest>
